:root {
  --primary-color: #253237;
  --secondary-color: #5C6B73;
  --accent1-color: #9DB4C0;
  --accent2-color: #C2DFE3;
  --heading-font: "Luckiest Guy", cursive;
  --body-font: "Quicksand", sans-serif;
}

body {
  font-family: var(--body-font);
  background: var(--accent2-color);
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

header, footer {
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;

}

main {
  padding: 1rem;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label, legend {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

input, select, textarea {
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-family: var(--body-font);
}

input[type="submit"] {
  background: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: var(--accent1-color);
}
